.posts li {
  list-style-type:none;
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: 1em 0 1em -2.5em;
  border-radius: 5px;
  padding: 0.5em;
  width: 25em;
  height: 2.5em;
}

.posts .ti {
	margin-left: 0.5em;

}

